DATABASE_URL="postgresql://postgres:postgres@localhost:5432/oficina360?schema=public"
JWT_SECRET="oficina360-secret-key-change-in-production"
JWT_REFRESH_SECRET="oficina360-refresh-secret-change-in-production"
FRONTEND_URL="http://localhost:5173"
PORT=3000
NODE_ENV="development"